<div class="panel panel-announcement">
    <ul class="panel-options">
        <li><a><i class="fa fa-refresh"></i></a></li>
        <li><a class="panel-remove"><i class="fa fa-remove"></i></a></li>
    </ul>
    <div class="panel-heading">
        <h4 class="panel-title">Son Duyurular</h4>
    </div>
    <div class="panel-body">
        <h2>Girdiğiniz testlerde yapılan değerlendirmeler sonucu almanız gereken dersler olduğu tespit edilmiştir.Sizin için <span class="text-primary">Özel olarak hazırlanan</span> bu derslere <span class="text-success">giriş</span> için aşağıdaki yönergeleri takip ediniz.!</h2>
        <h4>yeni eklenen derslere girmek için <a href="">tıklayınız!</a></h4>
    </div>
</div>
<div class="row panel-statistics col-xs-12" style="padding-left:0px;">
    
    <div class="col-sm-6">
        <div class="panel panel-updates">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7 col-lg-8">
                        <h4 class="panel-title text-success">Son Girilen Ders<span style="font-size:25px;"> ISO 27001</span></h4>
                        <h3>75.7%</h3>
                        <div class="progress">
                            <div style="width: 75.7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75.7" role="progressbar" class="progress-bar progress-bar-success">
                                <span class="sr-only">75.7% Tamamlandı </span>
                            </div>
                        </div>
                        <p><a href="">dersi tamamlamak için tıklayınız: 75</a></p>
                    </div>
                    <div class="col-xs-5 col-lg-4 text-right">
                        <div style="display: inline; height: 99px; width: 99px;"><canvas width="99" height="99"></canvas><input type="text" value="75" class="dial-success" readonly="readonly" style="width: 53px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -76px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 19px; line-height: normal; font-family: Arial; text-align: center; color: rgb(38, 43, 54); padding: 0px; -webkit-appearance: none;"></div>
                    </div>
                </div>
            </div>
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6">
        <div class="panel panel-danger-full panel-updates">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7 col-lg-8">
                        <h4 class="panel-title text-warning">Son Girilen Sınav<span style="font-size:25px;"> Web Security</span></h4>
                        <h3>39.9%</h3>
                        <div class="progress">
                            <div style="width: 39.9%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="39.9" role="progressbar" class="progress-bar progress-bar-warning">
                                <span class="sr-only">39.9% Başarı Yüzdesi</span>
                            </div>
                        </div>
                        <p><a href="javascript:void(0)"> Sınavı tekrar almak için tıklayınız</a></p>
                    </div>
                    <div class="col-xs-5 col-lg-4 text-right">
                        <div style="display: inline; height: 99px; width: 99px;"><canvas width="99" height="99"></canvas><input type="text" value="39.9" class="dial-warning" readonly="readonly" style="width: 53px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -76px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 19px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                    </div>
                </div>
            </div>
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6">
        <div class="panel panel-success-full panel-updates">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7 col-lg-8">
                        <h4 class="panel-title text-success">Tüm Derslerdeki Tamamlanma Yüzdesi</h4>
                        <h3>55.4%</h3>
                        <div class="progress">
                            <div style="width: 55.4%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55.4" role="progressbar" class="progress-bar progress-bar-info">
                                <span class="sr-only">55.4% Tamamlandı</span>
                            </div>
                        </div>
                        <p>tamamlanan derslerin oranı : 55.4</p>
                    </div>
                    <div class="col-xs-5 col-lg-4 text-right">
                        <div style="display: inline; height: 99px; width: 99px;"><canvas width="99" height="99"></canvas><input type="text" value="55" class="dial-info" readonly="readonly" style="width: 53px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -76px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 19px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                    </div>
                </div>
            </div>
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6">
        <div class="panel panel-updates">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7 col-lg-8">
                        <h4 class="panel-title text-danger">Tüm Sınavlardaki Tamamlanma Yüzdesi </h4>
                        <h3>22.1%</h3>
                        <div class="progress">
                            <div style="width: 80.1%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80.1" role="progressbar" class="progress-bar progress-bar-danger">
                                <span class="sr-only">80.1% Tamamlandı</span>
                            </div>
                        </div>
                        <p><a href="javascript:void(0)">geçemediğiniz sınavlara devam etmek için tıklaynız.</a></p>
                    </div>
                    <div class="col-xs-5 col-lg-4 text-right">
                        <div style="display: inline; height: 99px; width: 99px;"><canvas width="99" height="99"></canvas><input type="text" value="22" class="dial-danger" readonly="readonly" style="width: 53px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -76px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 19px; line-height: normal; font-family: Arial; text-align: center; color: rgb(38, 43, 54); padding: 0px; -webkit-appearance: none;"></div>
                    </div>
                </div>
            </div>
        </div><!-- panel -->
    </div><!-- col-sm-6 -->
</div>

<div class="row panel-quick-page">
    @*<div class="col-xs-4 col-sm-5 col-md-4 page-user">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-person-stalker"></i></div>
            </div>
        </div>
    </div>*@
    <div class="col-xs-4 col-sm-4 col-md-4 page-products">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Eğitimler</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="fa fa-graduation-cap"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 page-events">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Etkinlikler</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-ios-calendar-outline"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 page-messages">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Mesajlar</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-email"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-5 col-md-2 page-reports">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Raporlar</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-arrow-graph-up-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 page-statistics">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">İstatistikler</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-ios-pulse-strong"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 page-support">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Destek Birimi</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-help-buoy"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 page-privacy">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Gizlilik Ayarları</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-android-lock"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 page-settings">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Ayarlar</h4>
            </div>
            <div class="panel-body">
                <div class="page-icon"><i class="icon ion-gear-a"></i></div>
            </div>
        </div>
    </div>
</div>